/* limpando formatações padrão*/
body{
	margin: 0px;
	padding: 0px;
}

/* formatações gerais*/
body{
	font-family: 'Courier New', monospace;
	font-size: 1em;
	background: #368cb4;
}

a {
	text-decoration: none;
}

a:link, a:visited{
	color: rgb(37, 0, 28);
}

a:hover{
	text-decoration: none;
	color: #a1722c;
	background: #FFF;
}

/* cabeçalho */
#cabecalho{
	background: #50135c;
	height: 80px;
}

#logo{
	float: left;
	font: 50px bold;
	padding-top: 10px;
	padding-left: 30px;
}

#menu{
	float: right;
	padding: 5px;
	padding-top: 40px;
	padding-right: 10px;
}

#corpo{
	border: 1px solid grey;
 	margin: 1%;
	width: 65%;
	float: left;
	background: #fff;
 	padding: 20px;
 	border-radius: 10px;
}

#lateral{
	border: 1px solid grey;
	margin: 1%;
	width: 24%;
	float: right;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
}

#rodape{
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
	float: bottom;
}