/* limpando formatações padrão*/
body{
	margin: 0px;
	padding: 0px;
}

/* formatações gerais*/
body{
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	background: #368cb4;
}

a {
	text-decoration: none;
}

a:link, a:visited{
	color: rgb(37, 0, 28);
}

a:hover{
	text-decoration: none;
	color: #a1722c;
	background: #FFF;
}

p {
	padding: 0;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #666;
}

h2 {
	font-family: 'Courier New', monospace;
}

/* cabeçalho */
#cabecalho{
	background: #50135c;
	height: 80px;
}

#logo{
	float: left;
	font: 50px bold;
	padding-top: 10px;
	padding-left: 30px;
}

#menu{
	float: right;
	padding: 5px;
	padding-top: 40px;
	padding-right: 10px;
}
/* corpo */
#corpo{
	border: 1px solid grey;
 	margin: 1%;
	width: 75%;
	float: left;
	background: #fff;
 	padding: 20px;
 	border-radius: 10px;
}

#pdfs{
	width: 80%;
	height: 900px;
}
/* menu lateral */
#lateral{
	border: 1px solid grey;
	margin: 1%;
	width: 14%;
	float: right;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
}

#iconesgitlaterais{
	width: 95%;
	height: 95%;
	padding: 10px;
}

#iconeslinkedinlaterais{
	width: 75%;
	height: 75%;
	padding: 10px;
	padding-left: 30px;
}
/* rodapé */
#rodape{
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
	float: bottom;
	font-family: 'Courier New', monospace;
}